.github/
.type-coverage/
.vscode/
src/
types/

dist/**/*
!dist/src/**/*
!dist/types/**/*.d.ts

.editorconfig
.eslintcache
.gitattributes
.gitignore
.nvmrc
.prettierignore
.prettierignore
.prettierrc.js
.tsbuildinfo
eslint.config.js
tsconfig.eslint.json
tsconfig.json
*.map
*.tsbuildinfo
